body {
    background-image: image();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;}

    nav{background-color: rgb(11, 175, 5);
    padding: 60px 60px;
    display:flex;
    justify-content: space-between;
    align-items: first baseline ;} 